*{
  margin:0;
  padding: 0;
}
html , body{
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
  display: flex;
}
#contenedorImagen{
  background-image: url(../img/Landscape.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#imagenGato{
  width: 50%;
}


@media (min-width:0px) and (max-width:536px){
  #contenedorImagen{
   background-image: url(../img/maxresdefault.jpg);
   background-size: cover;
  }
  #imagenGato{
   content: url(../img/kitten-small.png);
   width:70%;
  }
}

@media (min-width:537px) and (max-width:668px){
  #contenedorImagen{
   background-image: url(../img/dawn.png);
   background-size: cover;
  }
  #imagenGato{
   content: url(../img/kitten-large.png);
   width:70%;
  }
}


@media (min-width:669px) and (max-width:768px){
  #contenedorImagen{
   background-image: url(../img/dawn.png);
   background-size: cover;
  }
  #imagenGato{
   content: url(../img/kitten-medium.png);
  }
}
@media (min-width:769px){
  #contenedorImagen{
   background-image: url(../img/Landscape.jpg);
   background-size: cover;
  }
  #imagenGato{
   content: url(../img/kitten-medium.png);
  }
}
